<html>
<head>
  <title>
    Home
  </title>


</head>
<body><b>

  <div id="logo"><span class="navlogo">FCard!</span></div>
  <div id="nav">

    <div id="home"><span class="navmenu">Home</span></div>
    <div id="products"><span class="navmenu">Product</span></div>
    <div id="shop"><span class="navmenu">Online Store</span></div>

    <div id="signup"><span class="navmenu">Sign Up</span></div>
    <div id="login"><span class="navmenu">Log In</span></div>
    <div id="logout"><span class="navmenu">Log Out</span></div>

  </div>
</b>
      <div id="content">
        <div id="Banner"></div>
        <div id="ProCard"></div>
        <br /> <br /> <br /> <br /> 

        <div> <app-home style="display:flex;justify-content:space-around;align-items:center"></app-home></div>
      </div>

  <div id="footer">
    <div id="social">Soc</div>
    <div id="office">off</div>
    <div id="copy">&copy;</div>
  </div>


</body>

</html>
