<html>
<head>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

  <div id="header"></div>
  <br>
  <br>
  <br>


  <form class="w3-container" style="width:40%">
    <fieldset>
      <legend style="height:10px;width:10x;background-color:lime"><b>Registeration Form</b></legend>
      <label>Enter Name</label><input class="w3-input" type="text" name="name" /><br />
      <label>Enter Phonenumber</label><input type="text" name="phone" /><br />
      <label>Enter Email</label><input type="text" name="email" /><br />
      <label>Enter DOB</label><input type="text" name="dob" /><br />
      <label>Enter Username</label><input type="text" name="uname" /><br />
      <label>Enter Password</label><input type="text" name="pwd" /><br />
      <label>Enter Confirm Passwordx</label><input type="text" name="cpwd" /><br />
      <label>Enter Address</label><input type="text" name="add" /><br />
      <input type="submit" value="Register" />
    </fieldset>
    <p>
      <label>First Name</label>
      <input class="w3-input" type="text">
    </p>
    <p>
      <label>Last Name</label>
      <input class="w3-input" type="text">
    </p>
    <p>
      <label>Email</label>
      <input class="w3-input" type="text">
    </p>
  </form>

  <div id="footer"></div>
</body>

</html>
